.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__substrate {
    margin: auto 0;
    padding: 40px 20px;
    width: 650px;
    height: 350px;
    background-color: #fff;
    border-radius: 25px;
}